extends layout

block content
  div(class="container-fluid")
    div(class="row")
      .container
        h2 Admin Login
        form(action="/admin",method="post")
          .form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='Enter email', name='email')
          .form-group
            label(for='pwd') Password:
            input#pwd.form-control(type='password', placeholder='Enter password',name='password')
          button.btn.btn-default(type='submit') Submit
          if authenticationFailed
            .form-group
              div Username or password is wrong. Please try again!
