extends layout

block content
  

  div(class="container-fluid")
    div(class="row")
      p
        strong നല്ല നമസ്കാരം,

      p(align="justify") കഴിഞ്ഞ വർഷത്തെ പോലെ, ഈ വർഷവും ഓണം ആമസോണിൽ ആഘോഷിക്കുന്നത്തിന് വേണ്ടി ചർച്ചക്ക് നമുക്ക് തുടക്കമിടാം. ഈ വിഷയം ചർച്ച ചെയ്യാൻ വേണ്ടി പുതിയ സംഘാടകർ വരുന്നത് വരെ താഴെ കാണുന്ന ആളുകളെ താത്കാലികമായി നിക്ഷയിച്ചിരിക്കുന്നു. കൂടുതൽ വിവരങ്ങൾ അറിയാൻ താഴെ കാണുന്നവരെ പിംഗ് ചെയ്യുകയോ ഫോണിൽ വിളിക്കുകയോ ചെയാം.

      p(align="justify")

      table(class="table table-hover")
        tr
          th amazon@
          th നാമം
          th നില
          th വാട്സാപ് നംബർ
        tr
          td (akhanand@)
          td അഖിൽ ആനന്ത്
          td (ഒൻപതാം നില - ബി ബ്ലോക്ക്)
          td 9495 39 62 78
        tr
          td (monugopi@)
          td മനു ഗോപിനാഥ്
          td (അഞ്ചാം നില - ബി ബ്ലോക്ക്)
          td 98098 58303

      br
      p
        strong Note: - വാട്സാപ്പ് ഗ്രൂപ്പിൽ അംഗങ്ങൾ അല്ലാത്തവർക്കും, അംഗങ്ങൾ ആവാൻ വേണ്ടി ഇവരെ പിംഗ് ചെയ്യാവുന്നതാണ്.
      .row
        .alert.alert-danger
          strong Info!
          |  Strongly recommend to fill the google form attached at main menu.

      br
      p
        strong നന്ദി,
        p ഓണം2017.കോം
